#####################################################################
#   Includes
#####################################################################

[include mainsail.cfg]
[include toolhead.cfg]
[include movement.cfg]
[include heater_bed.cfg]
#[include magnets.cfg]
[include macros.cfg]
[include nevermore.cfg]
[include euclid.cfg]
[include euclid-macros.cfg]
[include config_backup.cfg]
[include sensorless.cfg]
[include K-ShakeTune/*.cfg]
[include adxl.cfg]
[include tmc_autotune.cfg]

#####################################################################
#   Printer Core
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_1E0025001250304738313820-if00

restart_method: command

[virtual_sdcard]

path: ~/printer_data/gcodes/
on_error_gcode:
    SAVE_GCODE_STATE NAME=on_error_gcode
    G91
    G1 Z10 F6000
    RESTORE_GCODE_STATE NAME=on_error_gcode

[printer]
kinematics: corexy
max_velocity: 450 
max_accel: 15000
max_z_velocity: 25
max_z_accel: 1000
square_corner_velocity: 10

[input_shaper]
shaper_type: mzv
shaper_freq_x: 60.8
shaper_freq_y: 42.4

[idle_timeout]
timeout: 18000

#####################################################################
#   Electronics Bay
#####################################################################

[temperature_sensor Canboard]
sensor_type: temperature_mcu
sensor_mcu: can
min_temp: 10
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor Octopus_Pro]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100

[temperature_sensor Chamber]
sensor_type: Generic 3950
sensor_pin: PF4
min_temp: 0
max_temp: 100

[fan_generic Bed_Fans]
pin:PD13
max_power: 0.8
cycle_time: 0.01
kick_start_time: 1

[output_pin caselight] 
pin: PB10 
pwm: True 
value: 0 
cycle_time: 0.001 
hardware_pwm: False

[fan_generic Electronics_Fan]
pin:PA8
max_power: 0.8
cycle_time: 0.01
kick_start_time: 1

#####################################################################
#   Input Shaping
#####################################################################

[gcode_shell_command plot_graph]
command: bash /home/pi/printer_data/config/scripts/plot_graphs.sh
timeout: 500.0
verbose: True

#####################################################################
#   Orca Compatibility
#####################################################################

[gcode_arcs]
resolution: 0.25

[exclude_object]

